.topnav {
    background-color: #218838;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 !important;
}

.topnav a, .topnav span {
    float: right;
    color: #E8F0FE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 5px
}

.topnav a:hover {
    background-color: #E8F0FE;
    color: #218838;
    padding: 8px 12px;
    margin: 6px 7px 6px 6px;
}

div.content-line {
    margin-top: 15px;
}

div.table-pos {
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
}

/* Link act as div */
a.linkdiv {
    display: block;
    color: inherit;
    text-decoration: none !important;
    text-align: center;
}

/* Titles */
span.main-title {
    font-weight: bold;
    font-size: 2em;
}

div.table-title {
    margin-bottom: 25px;
}

span.card-title {
    font-weight: bold;
    font-size: 2em;
    margin-left: 45px;
}

span.sub-title {
    font-weight: bold;
    font-size: 1em;
}

/* Player */
.player-bg {
    height: 100%;
    background-color: #2D2D2D;
}

div.player-bt {
    width: 100px;
    height: 100px;
}

div.player-bt-sm {
    width: 50px;
    height: 100px;
}

/* Images */
img.player-bt {
    width: 70px;
    height: 70px;
}

img.player-bt-sm {
    width: 30px;
    height: 30px;
}

img.player-cover {
    width: 110px;
    height: 110px;
    border-radius: .4rem
}

div.player-track {
    width: 90%;
    height: 30px;
    margin-bottom:25px;
    text-align: center;
    margin: auto;
}

img.icon {
    width:25px;
    height:25px;
    border:0
}

/* Table */
table.table-half {
    width: 50%;
    display: inline-table;
    margin-bottom: 3rem;
}

table.table-fit {
    width: fit-content;
}

table.table-rounded {
    border-radius: .4rem;
    overflow: hidden;
}

/* Center images */
div.center-img {
    float:left;
    display:flex;
}

a.center-img {
    margin: auto;
    display: block;
}

div.button-bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

input.switch:checked {
    background-color: #198754;
}

span.track-name {
    margin-left: 40px;
    color: aliceblue;
}

div.player-button-x-sm {
    float: right;
    margin-right: 10px;
}

img.player-button-x-sm {
    height: 30px;
    width: 30px;
}

/* Queue */
span.list-number {
    font-weight: bold;
    font-size: 1.2em;
}

span.list-track {
    font-weight: bold;
    font-size: 1.3em;
}

span.list-track-sm {
    font-weight: bold;
    font-size: 1.1em;
}

span.list-artist {
    font-size: .9em;
    margin-left: 2em;
}

img.list-album {
    width: 3em;
    height: 3em;
    margin-right: 1em;
    border-radius: .4rem;
}